.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    background-color: #f8f8f2;
}

.pokemon-card {
    width: 250px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: #44475a;
}

.pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pokemon-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #f8f8f2;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: 'Arial', sans-serif;
}

.pokemon-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.pokemon-details p {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    color: #f8f8f2;
    text-align: left;
}

.pokemon-type,
.pokemon-height,
.pokemon-weight {
    font-size: 1em;
    color: #50fa7b;
    text-transform: capitalize;
    font-family: 'Arial', sans-serif;
}

.pokemon-number {
    color: #bd93f9;
    font-size: 1em;
    text-transform: capitalize;
    font-family: 'Arial', sans-serif;
}

.pokemon-card.type-fire {
    background-color: #e27d60;
}

.pokemon-card.type-water {
    background-color: #3498db;
}

.pokemon-card.type-grass {
    background-color: #2ecc71;
}
